@import "bootstrap";

html, body{
    height: 100%;
}

body{
    // overflow-y: hidden
    overflow-x: hidden;
}

.hidden{
    display: none;
}

.form-center{
    max-width: 400px;
    margin: 0 auto;
}

.nav-tabs li.disabled a {
    pointer-events: none;
}

.has-error input{
    border: 2px solid #ff0000;
}

.has-error span.help-block{
    font-weight: bold;
    color: #ff0000;
    margin-top: 4px;
}

.form-control:disabled, .form-control[readonly]{
    color: black;
    background: white;
    cursor: default;
}

button, input[type='submit'], .input-group-addon.date{
    cursor: pointer;
}

.checkbox label input{
    margin-right: 6px;
}